html {
    height: 100%
}

.mainDiv{
    background-color: #ececea;
    height: 1000px;
}

.majorItem4{
    border-bottom: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    /* background-size: 100% 100%; */
}

.myImage4{
    float: left;
    margin: 20px;
    width: 124px;
    height: 100%;
    
}

.InfoProduct5{  
    /* background-color: red;  */
    float: left;
    margin: 20px;
    width: 300px;
    height: 180px;
}


.removeButton{
    float: right;
    margin-right: 60px;
    width: 0px;
    height: 0px;
}

.GoBack{
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.WishlistWord{
    display: flex;
    align-items:center;
    background-color:#d8d7d7; 
    height: 50px;
    width: 88%;
    margin-left: 40px;
}
.WishWord{
    margin-left: 20px;
}

.WishItems{
    margin-left: 3%;
    height: 100%;
    width: 88%;
}

.wishlistMessage{
    display: flex;
    align-items:center;
    width: 100%;
    height: 100px;
    background-color: white;
    margin: 0px;
}
.myButton8{
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.199);
    margin: 0px;
    float: right;
    
}

.mainItems8{
    margin-left: 40px;
}