.footer{
border-top: 1px solid rgb(157, 157, 157);
}
.row {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #f5f5f5;
    font-family: Helvetica Now, Helvetica, Arial, sans-serif;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    label {
      text-align: left;
      font-weight: 700;
      color: #4e4c4b;
    }
    
    input {
      text-overflow: ellipsis;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      width: 100%;
      padding: calc(1rem - 1px) 1rem;
      color: #6d6d6d;
      background-color: #fff;
      border: 1px solid #bbb;
      border-radius: 0.25rem;
    }
    .link {
      text-align: right;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      text-decoration: underline;
      color: #4e4c4b;
    }
    .icon {
      .fab {
        padding: 5px 6px;
        margin-left: 10%;
        border: 2px solid #4e4c4b;
        border-radius: 50%;
      }
      .f {
        &:hover {
          background-color: #4e4c4b;
          color: white;
          cursor: pointer;
        }
      }
    }
    h4 {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.3125rem;
      text-decoration: none;
      text-transform: none;
      color: #000;
      display: block;
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
  
    ul li {
      list-style: none;
      a {
        padding: 0.375rem 0;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 1.3125rem;
        text-decoration: none;
        text-transform: none;
        color: #4e4c4b;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .region {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      text-decoration: none;
      text-transform: none;
      color: #000;
      font-weight: 700;
    }
    .copy {
      color: #6d6d6d;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.125rem;
      padding: 0 0.5rem;
    }
    .terms {
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 1.125rem;
      text-decoration: none;
      text-transform: none;
      padding: 0 0.5rem;
      a {
        padding: 1rem;
        color: #4e4c4b;
        &:hover{
            color: #000;
            text-decoration: none;
        }
      }
    }
  }
  